* {
  font-size: 20px;
}

.en {
  font-family: "Titillium Web", sans-serif;
}

.zh-tw {
  font-family: "Noto Sans TC", sans-serif;
}

.navbar ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #F0F0F0;
}

#nav-title {
  font-weight: 700;
}

#lang-zh, #lang-en {
  float: right;
}

#main {
  margin-top: 100px;
  scroll-margin-top: 100px;
}

#presidential, #legislative {
  scroll-margin-top: 75px;
}

h1 {
  font-size: 54px;
  text-align: center;
}

h2 {
  font-size: 40px;
  padding-left: 30px;
}

h3 {
  font-size: 36px;
  padding-left: 30px;
}

h4 {
  font-size: 28px;
  padding-left: 60px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
}

td img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

tr:hover {
  background-color: #F0F0F0;
}

#presidential-header-row {
  font-size: 24px;
}

#presidential-header-row:hover {
  background: transparent;
}

#presidential-header-row th {
  padding: 10px 0px;
}

.image {
  padding: 5px 10px;
}

.vp-image {
  padding: 5px 20px 5px 0px;
}

.nominee {
  padding: 10px;
}

.party {
  padding: 10px 50px;
}

.share-bar {
  padding: 0px 10px 0px 20px;
}

.vote {
  padding: 0px 20px 0px 10px;
}

.chance {
  padding: 30px;
  width: 70px;
  text-align: center;
  display: table-cell;
  color: white;
  margin: auto;
  vertical-align: middle;
}

#dpp-chance, #dpp-county-chance, .dpp-seats {
  background-color: #1B9431;
}

#kmt-chance, #kmt-county-chance, .kmt-seats {
  background-color: #000099;
}

#tpp-chance, #tpp-county-chance, .tpp-seats {
  background-color: #28C7C7;
}

#dpp-chance, #kmt-chance, #tpp-chance {
  width: 70px;
  height: 40px;
  line-height: 40px;
}

#dpp-county-chance, #kmt-county-chance, #tpp-county-chance {
  font-size: 18px;
  width: 60px;
  height: 36px;
  line-height: 36px;
}

.seats {
  padding: 20px 30px;
  width: 40px;
  height: 36px;
  text-align: center;
  display: table-cell;
  color: white;
  margin: auto;
  vertical-align: middle;
}

.npp-seats, .tsp-seats {
  color: black;
}

.ind-seats {
  background-color: #999999;
}

.dpp-seats, .kmt-seats, .tpp-seats, .npp-seats, .tsp-seats, .ind-seats {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.candidate {
  padding: 10px 35px 10px 10px;
  width: 100px;
  border-left: 5px solid transparent;
}

.dpp-row .image, .dpp {
  border-left: 5px solid #1B9431;
}

.kmt-row .image, .kmt {
  border-left: 5px solid #000099;
}

.tpp-row .image, .tpp {
  border-left: 5px solid #28C7C7;
}

.npp-row .image, .npp {
  border-left: 5px solid #FFBE00;
}

.tsp-row .image, .tsp {
  border-left: 5px solid #A73F24;
}

.ind-row .image, .ind {
  border-left: 5px solid #999999;
}

.legislative-note {
  padding: 0px 30px;
}

.sdp {
  border-left: 5px solid #FF0088;
}

.gpt {
  border-left: 5px solid #73BE00;
}

.np {
  border-left: 5px solid #FFDA00;
}

.fa {
  border-left: 5px solid #48C1BC;
}

.panel-box {
  display: flex;
}

.map {
  float: left;
  width: 40%;
}

.prediction-table {
  float: left;
  width: 60%;
}

.panel-box:after {
  content: "";
  display: table;
  clear: both;
}

.table-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.table-center tr td {
  font-size: 18px;
}

.table-center img {
  width: 90px;
  height: 90px;
  border-radius: 90px;
}

.table-center .nominee {
  padding: 5px 35px 5px 5px;
}

.table-center .share-bar, .table-center .vote {
  padding: 0px 10px;
}

.presidential-party {
  font-size: 16px;
  font-style: italic;
  margin: 0px;
  color: #666666;
  width: 100px;
}

#presidential-map {
  display: block;
  margin: auto;
  min-height: 500px;
  max-height: 80vh;
  width: auto;
  padding: 50px 120px;
}

.header-row:hover {
  background-color: transparent;
}

#presidential-constituency {
  font-size: 28px;
  padding: 10px;
}

#county-rating {
  float: right;
  width: 120px;
  padding: 8px;
  color: white;
}

.legislative .vote, .legislative .seats {
  text-align: center;
}

.legislative .seats {
  text-color: white;
}

.legislative img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.legislative .image {
  padding: 10px 15px;
}

@media screen and (max-width: 1350px) {
  #presidential td.nominee, #presidential td.party {
    padding: 10px 25px 10px 10px;
    height: 100px;
  }

  #presidential td.nominee {
    width: 60px;
    display: flex;
    align-items: center;
  }

  #presidential td.party {
    width: 100px;
  }

  .panel-box {
    display: block;
  }

  .map {
    width: 100%;
  }

  .prediction-table {
    width: 100%;
  }

  .table-center {
    transform: none;
  }

  .table-center tbody {
    display: block;
    margin: auto;
  }
}

.district {
  padding: 15px 30px;
  font-weight: 700;
  width: 180px;
  text-align: center;
}

.legislator-party {
  font-size: 18px;
  font-style: italic;
  margin: 0px;
  color: #666666;
}

.indigenous {
  padding: 20px 50px;
}

.indigenous tbody:hover{
  background-color: #F0F0F0;
}

.legislative-rating {
  text-align: center;
  width: 120px;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 16px;
  padding: 5px;
  color: white;
}

.safe-dpp {
  background-color: #1B9431;
}

.likely-dpp {
  background-color: #49A95A;
}

.lean-dpp {
  background-color: #77BF83;
}

.safe-kmt {
  background-color: #3333AD;
}

.likely-kmt {
  background-color: #6666C2;
}

.lean-kmt {
  background-color: #9494D4;
}

.safe-ind {
  background-color: #999999;
}

.tossup {
  background-color: #D7D7D7;
}
